.BlogArticle {
  background-color: var(--bg-blue-500);
  border-radius: 25px;
  padding: 70px 10px;
}

.posts>div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post img {
  border-radius: 25px;
  width: 580px;
  height: 438px;
  object-fit: cover;
}

.text {
  max-width: 400px;
  margin-top: 28px;
  transition: color 0.3s ease-in-out;
}

.text:hover {
  color: var(--bg-blue-900);
}

.paraBlog {
  margin: 20px 0;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-right: 7px;
}

.author h5 {
  color: var(--black-color-500);
  font-weight: 500;
}

.author p {
  margin: 0 4px;
}

.blogNews {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.blogNews h6 {
  color: var(--bg-black-100);
  font-weight: 700;
  max-width: 355px;
  font-size: 17px;
  opacity: 0.8;
  transition: color 0.3s ease-in-out;
}

.blogNews h6:hover {
  color: var(--bg-blue-900);
}

.blogNews p {
  color: var(--border-gray-300);
  margin: 16px 0 18px;
  max-width: 325px;
}

.BlogPicture {
  width: 200px;
  height: 192px;
  border-radius: 25px;
  margin-bottom: 30px;
  object-fit: cover;
}

.blogBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogBtn button {
  border-radius: 25px;
  border: 1px solid var(--border-gray-300);
  color: var(--black-color-500);
  width: 200px;
  font-weight: 500;
  padding: 10px 0;
  margin-top: 30px;
  background-color: var(--bg-white);
  transition: background-color 0.3s ease-in-out;
}

.blogBtn button:hover {
  background-color: var(--bg-blue-200);
}

.Articles {
  display: flex;
  justify-content: space-between;
}

.textBlogArticle {
  color: var(--black-color-700);
}