.BlogArticle {
  background-color: var(--bg-blue-500);
  border-radius: 25px;
}

.BlogArticle > div:first-child {
  display: flex;
  align-items: center;
}

.BlogArticle > div:first-child span,
.BlogArticle > div:first-child p {
  color: var(--bg-black-100);
  font-weight: 600;
  font-size: 40px;
}

.BlogArticle > div:first-child p {
  color: var(--black-color-700);
}
