.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px 50px;
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--border-gray-100);
  height: 5rem;
  z-index: 9999;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headItem {
  display: flex;
  width: 100%;
}

.svgHead {
  display: flex;
}

.svgHead .btnHover {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.svgHead .btnHover:hover {
  background-color: var(--hover-item-nav);
  border-radius: 50%;
}

.navItem {
  align-items: center;
}

.navItem>li {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
}

.link {
  padding: 10px 20px;
  color: var(--black-color-400);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--hover-item-nav);
  border-radius: 22px;
  color: #222;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px !important;
  position: relative;
}

.listItem svg {
  color: #888;
  margin-left: 4px;
}

.listItem:hover {
  background-color: var(--hover-item-nav);
  border-radius: 22px;
}

.btn {
  position: relative;
}

.btn span {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  display: flex;
  right: 0;
  background-color: var(--color-badge);
  color: var(--bg-white);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
}

/* dropdown menu */

.listTemplate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid var(--border-gray-100);
  padding: 21px 90px;
  margin-top: 61px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  display: none;
}

.listItem:hover .listTemplate {
  display: block;
}

.menuContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}

.itemListHome {
  display: flex;
  flex-direction: column;
}

.itemListHome span {
  color: var(--bg-white);
  font-weight: 500;
  background-color: var(--bg-red-100);
  border-radius: 4px;
  padding: 1px 6px;
  font-size: 10px;
}

.itemListHome p {
  color: var(--black-color-500);
  font-weight: 700;
  margin-bottom: 20px;
}

.homeNav {
  color: var(--black-color-500);
  font-weight: 700;
}

.LinkNav {
  color: var(--black-color-800);
}

.Link {
  color: var(--black-color-800);
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.Link:hover {
  color: var(--black-color-400);
}

.newBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newBadge span {
  margin-left: 7px;
}

.imageDog {
  width: 178px;
  height: 172px;
  margin-left: 20px;
}

.boxDropdown {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-blue-100);
  border-radius: 16px;
  padding: 30px 40px 45px;
}

.LinkShow {
  color: var(--black-color-600);
  background-color: var(--bg-white);
  border-radius: 23px;
  padding: 13px 24px;
  box-shadow: var(--box-shadow);
}

.textOff {
  font-weight: bold;
  font-size: 23px;
  margin: 20px 0 40px;
}

.listMenu {
  min-width: 230px;
  border-radius: 8px;
  border: 1px solid var(--border-gray-100);
  padding: 10px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  flex-direction: column;
  display: none;
}

.listItem:hover .listMenu {
  display: flex;
}

.LinkNav,
.homeNav {
  padding: 8px 5px;
}

.listDropdown {
  position: absolute;
  padding-top: 61px;
  top: 0;
  left: 0;
}

.dropNav {
  display: flex;
  align-items: center;
}

.ctegoryPage {
  background-color: var(--bg-white);
  border: 1px solid var(--border-gray-100);
  border-radius: 15px;
  padding: 10px;
  color: var(--black-color-800);
  display: none;
  position: absolute;
  right: 0;
}

.dropNav:hover+.ctegoryPage {
  display: flex;
  flex-direction: column;
}

/* dropdown menu */

/* search */

.btnSearch {
  position: relative;
}

.inputNav {
  background-color: transparent;
  outline: none;
  width: 100%;
  padding-left: 8px;
  font-size: 17px;
  font-weight: 400;
}

.formNav {
  position: fixed;
  border-radius: 8px;
  padding: 10px 0;
  width: 50%;
  display: flex;
  left: 50%;
  background: #fff;
  margin: 8px -317px;
  top: 0;
  right: 50%;
  justify-content: space-between;
  align-items: center;
}

/* search */

/* user Box */

.userBox {
  background-color: var(--bg-white);
  border-radius: 25px;
  border: 1px solid var(--border-gray-100);
  padding: 17px 12px 17px 20px;
  width: 261px;
  position: absolute;
  right: 8%;
  margin-top: 61px;
}

.propUser {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.propUser p {
  color: var(--black-color-300);
  font-weight: 700;
  font-size: 17px;
}

.propUser span {
  color: var(--black-color-500);
  font-size: 13px;
  font-weight: 400;
}

.userImg {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-gray-100);
  padding: 25px 0;
  margin-bottom: 10px;
}

.user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.itemUser {
  display: flex;
  align-items: center;
  padding: 8px 0;
  transition: background-color 0.3s ease-in-out;
}

.itemUser:hover,
.homeNav:hover,
.LinkNav:hover {
  background-color: var(--bg-blue-200);
  border-radius: 8px;
}

.itemUser button {
  margin-right: 20px;
}

.itemUser span,
.itemUser svg {
  color: var(--black-color-900);
  font-weight: 500;
}

.darkModeBox {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--border-gray-100);
}

/* user Box */
/* shopping cart */

.shopText {
  color: var(--bg-black-100);
  font-weight: 500;
  font-size: 20px;
}

.shoppingCartBox {
  border-radius: 18px;
  border: 1px solid var(--border-gray-100);
  padding: 23px 21px;
  margin-top: 61px;
  position: absolute;
  right: 0;
  width: 430px;
  margin-right: 49px;
  background: var(--bg-white);
}

.propShop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray-100);
  margin: 20px 0;
  padding-bottom: 27px;
}

.imgShop {
  display: flex;
  flex-direction: row;
}

.imgShop>img {
  width: 80px;
  height: 96px;
  background-color: var(--bg-blue-300);
  border-radius: 15px;
}

.textImgShop {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.textImgShop>p {
  color: var(--bg-black-100);
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}

.textImgShop>span,
.textImgShop>h6 {
  color: var(--black-color-800);
  font-weight: 400;
}

.textImgShop>h6 {
  margin-top: 20px;
}

.btnPriceShop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.btnPrice {
  background-color: var(--bg-white);
  color: var(--bg-green-200);
  border: 2px solid var(--bg-green-200);
  border-radius: 10px;
  padding: 1px 10px;
  font-weight: 500;
}

.btnPriceShop>div>p {
  color: var(--bg-blue-900);
  font-weight: 400;
  font-weight: 500;
}

.textCheckout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textCheckout>div {
  display: flex;
  flex-direction: column;
}

.textCheckout>div>p,
.textCheckout>p {
  color: var(--bg-black-300);
  font-weight: 500;
}

.textCheckout>div>span {
  color: var(--black-color-800);
  font-weight: 400;
}

.btnShopping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.btnShopping>button {
  border-radius: 27px;
  padding: 14px 0px;
  font-weight: 500;
  width: 200px;
}

.cartBtn {
  background-color: var(--bg-white);
  color: var(--bg-black-100);
  margin-right: 8px;
  border: 1px solid var(--border-gray-100);
}

.checkoutBtn {
  color: var(--bg-white);
  background-color: var(--bg-black-100);
}

/* shopping cart */

/* theme */

body.light {
  background-color: #fff;
}

body.dark {
  background-color: #666;
  color: #fff;
}

/* theme */

/* mobile menu */

.menuMobileRes {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  padding: 25px 22px 0px;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  overflow-y: auto;
  height: 100%;
  z-index: 9999;
}

.closeMenu {
  display: flex;
  justify-content: flex-end;
}

.textMenu {
  color: var(--black-color-600);
  font-weight: 600;
  margin: 30px 0;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.imgSocial {
  display: flex;
  align-items: center;
}

.imgSocial img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.iconTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.themeMenuMobile {
  background-color: var(--border-gray-100);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.inputMenuMobile {
  display: flex;
  align-items: center;
  background-color: var(--bg-green-100);
  border-radius: 5px;
  padding: 0 10px;
  height: 46px;
}

.inputMenuMobile input {
  background-color: transparent;
  color: var(--black-color-800);
  font-weight: 500;
  margin-left: 9px;
  height: 43px;
}

.inputMenuMobile svg {
  color: var(--black-color-800);
}

.itemsMenu {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 10px;
  border-top: 1px solid var(--border-gray-100);
  border-bottom: 1px solid var(--border-gray-100);
  margin: 40px 0;
}

.itemsMenu p {
  margin-bottom: 20px;
  font-weight: 500;
}

.dropMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropMenu span {
  color: var(--bg-black-100);
  font-weight: 600;
}

.dropMenu svg {
  color: var(--black-color-800);
}

.btnMenuMobile button {
  color: var(--bg-white);
  font-weight: 600;
  font-size: 18px;
  width: 220px;
  padding: 10px 0;
  background-color: var(--bg-black-100);
  border-radius: 25px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
  ;
}

.itemsDropMenu {
  margin-left: 15px;
}

.dropMenuMobile {
  margin-left: 25px;
}

.dropMenuMobile p {
  margin-bottom: 20px;
  color: var(--black-color-800);
  font-weight: 500;
}

.coverPage {
  background-color: var(--bg-cover);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width:768px) {
  .menuHeader, .btnSearch {
    display: none;
  }
}

/* mobile menu */