.register {
  background-color: var(--bg-blue-400);
  border-radius: 30px;
  margin: 100px 0;
}

.register>div {
  padding: 20px 0 0 40px;
}

.register>div:first-child>h1 {
  max-width: 375px;
  line-height: 1.2;
}

.register>div:first-child>p {
  margin: 20px 0 30px;
  max-width: 485px;
}

.number {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.number>div {
  margin-bottom: 15px;
}

.number>div>span {
  color: var(--bg-black-100);
}

.number>div>button {
  border-radius: 12px;
  margin-right: 15px;
  width: 36px;
  height: 24px;
  font-weight: 500;
}

.number>div:first-child>button {
  color: var(--bg-purple-200);
  background-color: var(--bg-purple-100);
}

.number>div:nth-child(2)>button {
  color: var(--bg-blue-700);
  background-color: var(--bg-blue-600);
}

.number>div:last-child>button {
  color: var(--bg-red-900);
  background-color: var(--btn-red-100);
}

.inputRegister {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.inputRegister input {
  color: var(--black-color-700);
  font-weight: 400;
  outline: none;
  border: 2px solid var(--border-gray-100);
  width: 100%;
  height: 43px;
  padding: 7px 2px 7px 13px;
  border-radius: 20px;
}

.inputRegister input:focus {
  border: 2px solid #7dd3fc;
}

.inputRegister button {
  border-radius: 50px;
  background-color: var(--bg-black-100);
  width: 35px;
  height: 35px;
  color: var(--bg-white);
  text-align: center;
  padding-left: 5px;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.registerImg {
  transform: translateY(-40px);
}

.registerImg img {
  width: 560px;
}