.sectionKids {
  background-color: var(--bg-color);
  border-radius: 25px;
  padding: 0 40px;
}

.sectionText{
  padding-top: 80px;
}

.sectionKids > div:first-child {
  transform: translateY(-70px);
}

.sectionKids > div > h1 {
  color: var(--bg-black-100);
  margin: 30px 0 20px;
  max-width: 320px;
  line-height: 1.2;
}

.sectionKids > div > p {
  color: var(--black-color-800);
  max-width: 415px;
}

.sectionKids > div > button {
  color: var(--bg-white);
  background-color: var(--bg-black-100);
  width: 160px;
  padding: 14px 0;
  margin-top: 38px;
  border-radius: 26px;
  box-shadow: var(--box-shadow);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.sectionKids > div > button:hover {
  opacity: 0.8;
}
