.sectionKids {
  background-color: var(--bg-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 80px 0;
}

.sectionKids > div:first-child {
  transform: translateY(-70px);
}

.sectionKids > div:first-child img {
  width: 620px;
}

.sectionKids > div > h1 {
  font-size: 45px;
  font-weight: 700;
  color: var(--bg-black-100);
  margin: 30px 0 20px;
  max-width: 320px;
}

.sectionKids > div > p {
  color: var(--black-color-800);
  font-weight: 500;
  max-width: 415px;
}

.sectionKids > div > button {
  color: var(--bg-white);
  font-weight: 500;
  background-color: var(--bg-black-100);
  width: 160px;
  padding: 14px 0;
  margin-top: 60px;
  border-radius: 26px;
  box-shadow: var(--box-shadow);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.sectionKids > div > button:hover {
  opacity: 0.8;
}
