.swiperSlideShow {
  padding: 100px 0;
  margin: -100px 0;
}

.headSlider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 50px;
}

.textSlidercartHead {
  color: var(--black-color-800);
  margin-left: 6px;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart>div>h3 {
  color: var(--bg-black-100);
  margin: 13px 0 30px;
}

.cart>div>button {
  color: var(--black-color-600);
  background-color: var(--bg-white);
  border-radius: 24px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.imgCart {
  width: 100%;
  max-width: 170px;
}