.slideShow {
  background-color: var(--bg-green-100);
  height: 100%;
}

.slideSwiper {
  margin: 0 auto;
  padding: 0 60px;
}

.swiper-wrapper {
  max-width: 1280px;
}

.textSlide {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.imageSlideTwo {
  margin-top: 210px;
}

.textSlide p {
  color: var(--black-color-500);
  font-weight: 500;
  font-size: 20px;
}

.textSlide h1 {
  color: var(--bg-black-100);
  font-weight: 500;
  margin: 16px 0 47px;
  position: relative;
  z-index: 9999;
}

.btnSlide {
  background-color: var(--bg-black-100);
  border-radius: 33px;
  padding: 20px 0;
  color: var(--bg-white);
  font-weight: 500;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.btnSlide span {
  margin-right: 10px;
}

.imgSlide {
  object-fit: contain;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}