.headSlider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 50px;
}

.headSlider span,
.headSlider p {
  color: var(--bg-black-100);
  font-weight: 700;
  /* font-size: 35px; */
}

.headSlider p {
  color: var(--black-color-800);
}

.headSlider>div {
  display: flex;
  align-items: center;
}

.imgCart {
  width: 190px;
}

.cartSlider,
.cartSliderTwo,
.cartSliderThree,
.cartSliderFour {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 460px;
  background-color: rgb(254, 243, 199);
  opacity: .9;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.cartSliderTwo {
  background-color: rgb(254, 242, 242);
}

.cartSliderThree {
  background-color: rgb(239, 246, 255);
}

.cartSliderFour {
  background-color: rgb(240, 253, 244);
}

.cartSlider:hover,
.cartSliderTwo:hover,
.cartSliderThree:hover,
.cartSliderFour:hover {
  opacity: 1;
  background-color: rgb(216, 197, 197);
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart>div>p {
  color: var(--black-color-700);
  font-weight: 500;
}

.cart>div>h3 {
  font-weight: 700;
  color: var(--bg-black-100);
  margin: 13px 0 30px;
  font-size: 23px;
}

.cart>div>button {
  color: var(--black-color-600);
  font-weight: 600;
  background-color: var(--bg-white);
  border-radius: 24px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

