.swiperSlideShow {
  padding: 100px 0;
  margin: -100px 0;
}

.headSliderChoose {
  color: var(--bg-black-100);
  margin: 83px 0 48px;
  font-weight: 700;
  font-size: 38px;
}

.product,
.imgDetail,
.moreItems {
  background-color: var(--bg-blue-200);
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 379px;
  height: 237px;
}

.textSliderImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textSliderImage>div:first-child {
  display: flex;
  flex-direction: column;
}

.titleSlide {
  color: var(--bg-black-100);
  font-weight: 700;
  margin: 10px 0;
  font-size: 20px;
}

.viewer {
  display: flex;
  align-items: center;
}

.viewer p {
  color: var(--border-gray-200);
  margin: 0 7px;
}

.viewer span {
  color: var(--border-gray-300);
  font-weight: 400;
}

.btnSliderGreen button {
  color: var(--bg-green-200);
  font-weight: 600;
  border: 2px solid var(--bg-green-200);
  padding: 1px 12px;
  border-radius: 7px;
}

.moreItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 405px;
}

.moreItems>div {
  display: flex;
  align-items: center;
}

.moreItems>div span {
  color: var(--bg-black-100);
  font-size: 20px;
  font-weight: 600;
  margin: 0 6px 3px 0;
}

.moreItems>div p {
  color: var();
  font-weight: 500;
}