.tab {
  background-color: var(--bg-blue-500);
  border-radius: 25px;
  padding: 0 25px;
}

.tab h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: 70px 0 48px;
}

.headTabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabsItems {
  background-color: var(--bg-white);
  padding: 20px;
  border-radius: 25px;
}

.tabsItems:hover {
  box-shadow: 2px 8px 40px rgba(0, 0, 0, .08);
}

.tabsItems:hover .tabsBody span,
.tabsItems:hover .tabsBody button {
  color: var(--color-badge);
}

.tabProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabProduct img {
  background-color: var(--bg-blue);
  border-radius: 50%;
  width: 80px;
}

.tabProduct span {
  font-weight: 500;
  font-size: 13px;
}

.tabsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.tabsTitle>div:first-child {
  display: flex;
  flex-direction: column;
}

.tabsTitle>div:first-child h3 {
  color: var(--bg-black-100);
  font-weight: 700;
  /* font-size: 17px; */
  margin-bottom: 123px;
  white-space: nowrap;
}

.tabsBody {
  display: flex;
  align-items: center;
}

.tabsBody span,
.tabsBody button,
.tabsItems {
  transition: color 0.2s ease-in-out;
}

.tabsBody span {
  font-weight: 600;
  padding-right: 10px;
}

/* .tabLineImg img {
  max-width: 190px;
} */