.bloc-tabs {
  display: flex;
  border: 1px solid var(--bg-white);
  border-radius: 31px;
  margin-bottom: 60px;
  background: var(--bg-white);
  justify-content: space-between;
  border-bottom: none;
  align-items: center;
  width: 750px;
  height: 55px;
  padding: 0 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.tabs {
  padding: 10px 8px;
  text-align: center;
  width: 12%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
}

.tabs > div {
  color: var(--black-color-800);
  font-weight: 500;
}

.tabs > div button {
  margin-right: 12px;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg-black-100);
  width: 120px;
  border-radius: 25px;
  height: 48px;
}

.tabs.active-tabs .text-tabs span,
.tabs.active-tabs .text-tabs button {
  color: var(--bg-white);
  position: relative;
  z-index: 9999;
}

.content {
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}
