@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

html, body {
  font-family: 'Punizione', sans-serif;
}                                             

button {
  outline: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:root {
  --bg-white: #fff;
  --bg-color: #fefce8;
  --bg-hover-btn: #f4f7fa;
  --hover-item-nav: #f1f5f9;
  --bg-black-100: #0f172a;
  --black-color-300: #333;
  --black-color-400: #444;
  --black-color-500: #555;
  --black-color-600: #666;
  --black-color-700: #777;
  --black-color-800: #888;
  --black-color-900: #585858;
  --border-gray-100: #f3f3f3;
  --border-gray-200: #cecece;
  --border-gray-300: #9ea8b6;
  --border-gray-400: #e5e7eb;
  --color-badge: #0ea5e9;
  --bg-blue: #eef2ff;
  --bg-blue-100: #eff6ff;
  --bg-blue-200: #f3f4f6;
  --bg-blue-300: #f1f5f9;
  --bg-blue-400: #f8fafc;
  --bg-blue-500: #f6f7f8;
  --bg-blue-600: #dbeafe;
  --bg-blue-700: #1e5ac7;
  --bg-blue-800: #e0e7ff;
  --bg-blue-900: #185375;
  --bg-blue-900: #5fb1db;
  --bg-green-100: #e3ffe6;
  --bg-green-200: #22c55e;
  --bg-red-100: #f35656;
  --bg-red-200: #ef4444;
  --bg-red-900: #a52d2d;
  --btn-red-100: #fee2e2;
  --bg-box-slider: #ffedd5;
  --bg-box-slider2: #e0f2fe;
  --btn-color-100: #991b52;
  --bg-purple-100: #f3e8ff;
  --bg-purple-200: #7c21a8;
  --bg-yellow-stars: #eab308;
  --bg-cover: #000000ad;
  --color-theme-dark:#d1d5da;
  --bg-Accordion:#F3F7FA;
  --box-shadow: 0 10px 15px -3px rgba(165, 165, 165, 0.1),
    0 4px 6px -4px rgba(121, 121, 121, 0.1);
}

.cartSlider,
.cartSliderTwo,
.cartSliderThree,
.cartSliderFour {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 14px;
  background-color: rgb(254, 243, 199);
  opacity: .9;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.cartSliderTwo {
  background-color: rgb(254, 242, 242);
}

.cartSliderThree {
  background-color: rgb(239, 246, 255);
}

.cartSliderFour {
  background-color: rgb(240, 253, 244);
}


.cartSlider:hover,
.cartSliderTwo:hover,
.cartSliderThree:hover,
.cartSliderFour:hover {
  opacity: 1;
  background-color: rgb(216, 197, 197);
}

body.dark, body.dark header {
  background-color: var(--bg-black-100);
}

body.dark span, body.dark p {
  color: var(--bg-white);
}

h1 {
  color: var(--bg-black-100);
}

p {
  color: var(--black-color-700);
}

span {
  color: var(--black-color-800);
}

@media screen and (max-width:640px) {
  h1 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  ;

  span {}
}

@media screen and (min-width:640px) {
  h1 {
    font-size: 20px;
  }

  ;

  p {
    font-size: 17px;
  }

  ;

  span {}
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 24px;
  }

  ;

  span {}
}

@media screen and (min-width:1024px) {
  h1 {
    font-size: 30px;
  }

  ;

  span {}
}